* {
  box-sizing: border-box; }

header {
  height: 60px;
  border-bottom: 2px solid lightgrey; }
  header .logo h2 {
    margin-top: 9px; }
    header .logo h2 a {
      font-size: 3.5rem;
      font-family: 'Nova Script', cursive;
      color: grey;
      text-decoration: none; }
  header nav #menuIcon {
    display: none;
    font-size: 3rem;
    height: 100%; }
    header nav #menuIcon:hover {
      color: #9F9F9F; }
  header nav .menu {
    list-style: none; }
    header nav .menu li a {
      margin-top: 16px;
      display: inline;
      float: right;
      margin-left: 20px;
      font-size: 2rem;
      color: grey;
      text-decoration: none; }
      header nav .menu li a:hover {
        color: lightgrey; }
    header nav .menu li .active {
      border-bottom: 3px solid grey; }

.container .row .contactInfo {
  margin-top: 60px; }

.container .row #map {
  margin-top: 60px;
  height: 400px;
  width: 49%;
  overflow: hidden; }

@media (max-width: 768px) {
  header nav #menuIcon {
    display: inline-block;
    float: right;
    padding-right: 15px;
    padding-left: 80px;
    padding-top: 8px;
    padding-bottom: 8px; }
  header nav .menu {
    display: none;
    position: absolute;
    padding: 20px;
    background: #fff;
    border: 5px solid #444;
    right: 0px;
    top: 60px;
    width: 50%; }
    header nav .menu li a {
      text-align: center;
      width: 100%;
      padding: 10px 0;
      margin: 0; }
  header nav:hover .menu {
    display: block; } }

@media (max-width: 650px) {
  .backgroundImage .saying {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%; }
    .backgroundImage .saying h1 {
      font-size: 7rem; }
    .backgroundImage .saying h3 {
      float: none; } }
